parameters:
    level: 8
    paths:
        - src
        - tests
    excludePaths:
        - var/metrics/*
        - var/runtime/*
    inferPrivatePropertyTypeFromConstructor: true
    treatPhpDocTypesAsCertain: true
