parameters:
    level: 5
    paths:
        - src
        - tests
    tmpDir: var/phpstan
    excludePaths:
        - tests/bootstrap.php
    scanDirectories:
        - vendor/symfony
        - vendor/doctrine
    checkMissingIterableValueType: false
    inferPrivatePropertyTypeFromConstructor: true
    treatPhpDocTypesAsCertain: false
