parameters:
  level: max
  paths:
    - src
    - tests


  ignoreErrors:
    -
      identifier: property.onlyWritten
      path: src/Entity/*
    -
      identifier: property.unusedType
      path: src/Entity/*
