parameters:
  level: max
  paths:
    - src
    - tests
  checkGenericClassInNonGenericObjectType: true
  checkMissingIterableValueType: true
  inferPrivatePropertyTypeFromConstructor: true

  bootstrapFiles:
    - stubs/panther-bootstrap.php
