<?xml version="1.0" encoding="UTF-8"?>
<project version="4">
  <component name="PHPUnit">
    <option name="directories">
      <list>
        <option value="$PROJECT_DIR$/Vendor/tests" />
        <option value="$PROJECT_DIR$/tests/Unit" />
        <option value="$PROJECT_DIR$/tests/Integration" />
        <option value="$PROJECT_DIR$/tests/Functional" />
        <option value="$PROJECT_DIR$/tests/Smoke" />
      </list>
    </option>
  </component>
</project>